* {
    bg0: #1a111066;
    bg1: #271d1c66;
    bg2: #22191866;
    fg0: #f1dfdc;
    fg1: #d8c2be;

    red: #ffb4ab;
    green: #e7bdb6;
    yellow: #dec48c;
    blue: #ffb4a8;
    purple: #ffb4a8;
    aqua: #73342a;
}
