* {
    bg0: #10141866;
    bg1: #1c202466;
    bg2: #181c2066;
    fg0: #e0e2e8;
    fg1: #c2c7ce;

    red: #ffb4ab;
    green: #b8c8da;
    yellow: #d2bfe7;
    blue: #99ccfa;
    purple: #99ccfa;
    aqua: #094b72;
}
