* {
    bg0: #1a111066;
    bg1: #271d1c66;
    bg2: #22191866;
    fg0: #f1dedc;
    fg1: #d8c2be;

    red: #ffb4ab;
    green: #e7bdb7;
    yellow: #dfc38c;
    blue: #ffb4a9;
    purple: #ffb4a9;
    aqua: #73342c;
    highlight: #ffb4a933;
}
